@model IEnumerable<MKMusicEvents.Models.Event>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @*<button id="btnAddEvent" class="btn btn-primary btn-lg pull-left" data-toggle="modal" data-target="#modalAddEvent">Add Event</button>*@
            <a href="@Url.Action("Add", "Home")" id="Add" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create New</a>
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <button type="submit" class="btn btn-default pull-right"><i class="fa fa-search"></i></button>
                @Html.TextBox("search", null, new { @class = "form-control pull-right", style = "margin-bottom: 20px", placeholder = "Search..." })
            }
        </div>
    </div>
</div>

<br />

<div id="div-record">
    <div class="row" id="row-events">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6 pull-left">
                                <h5>@item.Date</h5>
                            </div>
                            <div class="col-md-6 text-right">

                                <a href="@Url.Action("Edit", "Home", new { id = item.Id })" class="btn btn-sm btn-success editDialog btnEdit">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                                @Ajax.ActionLink(" ", "Delete", "Home", new { @id = item.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { @class = "btn btn-sm btn-danger fa fa-remove btnRemove" })
                                <button class="btn btn-sm btn-info"><i class="fa fa-heart"></i></button>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("EventInfo", "Home", new { id = item.Id})"><img class="card-img-top" src="@Url.Content(item.Image)" alt="" width="200" height="300"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">@item.Name</a>
                        </h4>
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <div class="row ">
                            <div class="col-md-6">
                                <h4>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </h4>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-success btn-block">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /.row -->
</div>

<div class="modal fade" id="AddModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Event</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Event</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            if(@ViewBag.IsAdmin == "1"){
                $('#Add').show();
                $('.btnEdit').show();
                $('.btnRemove').show();
            }else{
                $('#Add').hide();
                $('.btnEdit').hide();
                $('.btnRemove').hide();
            }


            $('#Add').click(function (event) {
                event.preventDefault();
                $.get(this.href, function (response) {
                    $('.divForAdd').html(response);
                });
                $('#AddModel').modal({
                    backdrop: 'static',
                }, 'show');
            });
            $('.editDialog').click(function (event) {
                event.preventDefault();
                $.get(this.href, function (response) {
                    $('.divForUpdate').html(response);
                });
                $('#EditModel').modal({
                    backdrop: 'static',
                }, 'show');
            });
        });
    </script>
}

