@model IEnumerable<MKMusicEvents.ViewModels.EventRatingViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <a href="@Url.Action("_Add", "Home")" id="Add" class="btn btn-lg btn-create"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create New</a>
        </div>
    </div>
</div>

<br />

<div id="div-record">
    <div class="row" id="row-events">
        @if (Model.Count() == 0)
        {
            <h2>There are no events.</h2>
        }
        else
        {
            foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6 pull-left">
                                    <h5>@item.Date.ToString("MM/dd/yyyy")</h5>
                                </div>
                                <div class="col-md-6 text-right">

                                    <a href="@Url.Action("_Edit", "Home", new { @id = item.Id })" class="btn btn-sm editDialog btn-edit">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>

                                    @Ajax.ActionLink(" ", "Delete", "Home", new { @id = item.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { @class = "btn btn-sm btn-delete fa fa-remove" })

                                    <button class="btn btn-sm btn-favorite" data-id="@item.Id" data-favorite-id="@item.Favorite"><i class="fa fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                        <a href="@Url.Action("EventInfo", "Home", new { id = item.Id})"><img class="card-img-top" src="@Url.Content(item.Image)" alt="" width="200" height="300"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">@item.Name</a>
                            </h4>
                            <p class="card-text">@item.Description</p>
                        </div>
                        <div class="card-footer">
                            <div class="row ">
                                <div class="col-md-6 ratingClass">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="@item.Id">Rating: @item.EventRatingGrade/5</p>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        @if (ViewBag.IsAdmin != 2 && item.EventRating != 0)
                                        {
                                            <div class="col-md-3">
                                                <span class="fa fa-user fa-lg ratingUser"></span>
                                            </div>
                                        }
                                        <div class="col-md-9">
                                             <div class="rating" id="rating-@item.Id" data-ratingId="@item.EventRating">
                                                @if (ViewBag.IsAdmin == 2)
                                                {
                                                    if (item.EventRatingGrade > 0)
                                                    {
                                                        for (var i = 1; i <= 5; i++)
                                                        {
                                                            if (i <= item.EventRatingGrade)
                                                            {
                                                                <i class="fa fa-star star" data-id="@i" data-eventid="@item.Id"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa fa-star-o star" data-id="@i" data-eventid="@item.Id"></i>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        for (var i = 1; i <= 5; i++)
                                                        {
                                                            <i class="fa fa-star-o star" data-id="@i" data-eventid="@item.Id"></i>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    if (item.EventRating > 0)
                                                    {
                                                        for (var i = 1; i <= 5; i++)
                                                        {
                                                            if (i <= item.EventRating)
                                                            {
                                                                <i class="fa fa-star star" data-id="@i" data-eventid="@item.Id"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa fa-star-o star" data-id="@i" data-eventid="@item.Id"></i>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        for (var i = 1; i <= 5; i++)
                                                        {
                                                            <i class="fa fa-star-o star" data-id="@i" data-eventid="@item.Id"></i>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <a href="@Url.Action("_Buy", "Home", new { @id = item.Id })" class="btn btn-block btn-buy" data-id="@item.Id">
                                        Buy
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

</div>

<!--Add Modal-->
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Event</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Event</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<!--Buy Modal-->
<div class="modal fade" id="BuyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Buy Event</h4>
                <div class="groupImg">
                    <img src="~/Content/img/visa.png" />
                    <img src="~/Content/img/maestro.png" />
                    <img src="~/Content/img/mastercard.png" />
                    <img src="~/Content/img/paypal.png" />
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="divForBuy">
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        MusicEvents.IsAdmin = @ViewBag.IsAdmin;

        MusicEvents.InitIndexPage();
        MusicEvents.IsAdminCrudButtons();
    </script>
}

