<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MK Music Events</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/img/logo_image.png" class="logo" /></a>
                <span class="search-box ml-auto">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                    {
                        <button type="submit" class="btn btn-default pull-right search-icon"><i class="fa fa-search"></i></button>
                        @Html.TextBox("search", null, new { @class = "form-control pull-right", placeholder = "Search events..." })
                    }
                </span>
                <ul class="navbar-nav ml-auto">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer id="footer" class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-footer">Copyright &copy; MK Music Events 2018</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    @Scripts.Render("~/Scripts/MKMusicEvents.js")
    @RenderSection("scripts", required: false)
</body>
</html>
